<div class="col-md-12">
    <label>Filters</label>
</div>
<div class="col-md-12">
    <span>Sort by</span>
    <select id="books_sort" class="form-control">
        <option value="default">Default</option>
        <option value="name">Name</option>
        <option value="author">Author</option>
    </select>
</div>
<div class="col-md-12">
    <div class="radio">
        <label>
            <input type="radio" name="book-filters" value="all" checked />
            All books
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="book-filters" value="available" />
            Available books
        </label>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="radio">
            <label>
                <input type="radio" name="book-filters" value="user" />
                My books
            </label>
        </div>
    }  
</div>