<div class="jumbotron">
    <h3>User Guide</h3>
    <p class="lead">Welcome to the web application called Library.</p> 
    <p>On this page you can see list of our books. 
        For authorizing users also available detailed info for each book, 
        ability to borrow and return books and receive notifications on e-mail. 
        List of books can be sorted by name, authors, available books, and books which you already taken.</p>
    <p>I recommend to you log in and start to feel all the convenience of my source :)</p>
</div>
